html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #ededed;
}

.sidebar {
  padding: 15px;
}

.annotation-options {
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(209, 209, 209, 0.75);
  padding: 0px 4px 6px 4px;
  border-radius: 4px;
}

.task-queue {
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(209, 209, 209, 0.75);
  padding: 0px 4px 6px 4px;
  border-radius: 4px;
}

.sidebar-image {
  border: none;
}

.form-check {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
}

.canvas-container {
  position: relative;
}

.card-container {
  user-select: none;
}

.custom-input {
  background-color: aquamarine;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 20px;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.custom-input {
  border: none;
  overflow: visible;
}

.reset-button {
  width: 60px;
  height: 30px;
  color: white;
  background-color: #eb7134;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button {
  width: 60px;
  height: 30px;
  color: white;
  background-color: #0b03fc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
